@import "tailwindcss";

:root {
  --background: #eef2ff;
  --foreground: #0f172a;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-geist-sans), Arial, Helvetica, sans-serif;
}

.product-description{
  border: 2px solid rgb(214, 206, 206);
  border-radius: 5px;
  padding: 5px;

}
.product-description button{
  background-color: #c3bcbc;
  border:2px ridge #928e8e;
}
.btn::after{
  background-color: #c3bcbc;
  border:2px ridge #928e8e;
}
